# API-Basketball Data

In [2]:
import pandas as pd 
import numpy as np 
import requests, json
from pathlib import Path 
from os import listdir
from os.path import isfile, join

In [19]:
data_2016_path = Path("../../data/nba/aws-win-prob-data/2016.csv")
df_2016 = pd.read_csv(data_2016_path)
df_2016

,GAME_CODE,OUTCOME,PERIOD,TIME_REMAINING,GAME_TIME,HT_POSS,HT_SCORE_DIFF,EVENT,HT_FOUL,HT_ORBD,...,AT_15_S,AT_15_A,AT_15_GP,AT_15_GS,AT_15_MP,AT_15_PM,AT_15_MPG,AT_15_PMPG,AT_15_FPG,AT_15_O
0,31,1.0,2.0,443.0,997.0,0.0,2.0,Field Goal Made,0.0,0.0,...,0.0,1.0,59.0,4.0,1155.0,-88.0,19.576271,-1.491525,2.627119,1.0
1,31,1.0,2.0,435.0,1005.0,1.0,2.0,Turnover,0.0,0.0,...,0.0,1.0,59.0,4.0,1155.0,-88.0,19.576271,-1.491525,2.627119,1.0
2,31,1.0,2.0,431.0,1009.0,1.0,2.0,Foul,1.0,0.0,...,0.0,1.0,59.0,4.0,1155.0,-88.0,19.576271,-1.491525,2.627119,1.0
3,31,1.0,2.0,479.0,961.0,0.0,6.0,Substitution,1.0,0.0,...,0.0,1.0,59.0,4.0,1155.0,-88.0,19.576271,-1.491525,2.627119,1.0
4,31,1.0,2.0,465.0,975.0,0.0,4.0,Field Goal Made,1.0,0.0,...,0.0,1.0,59.0,4.0,1155.0,-88.0,19.576271,-1.491525,2.627119,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585045,1274,1.0,3.0,108.0,2052.0,0.0,5.0,Foul,26.0,13.0,...,0.0,1.0,2.0,0.0,28.0,10.0,14.000000,5.000000,1.500000,0.0
585046,1274,1.0,3.0,108.0,2052.0,1.0,6.0,Free Throw Made,26.0,13.0,...,0.0,1.0,2.0,0.0,28.0,10.0,14.000000,5.000000,1.500000,0.0
585047,1274,1.0,3.0,108.0,2052.0,0.0,6.0,Substitution,26.0,13.0,...,0.0,1.0,2.0,0.0,28.0,10.0,14.000000,5.000000,1.500000,0.0
585048,1274,1.0,3.0,108.0,2052.0,1.0,6.0,Substitution,26.0,13.0,...,0.0,1.0,2.0,0.0,28.0,10.0,14.000000,5.000000,1.500000,0.0
585049,1274,1.0,3.0,194.0,1966.0,1.0,7.0,Substitution,26.0,13.0,...,0.0,1.0,2.0,0.0,28.0,10.0,14.000000,5.000000,1.500000,0.0