In [1]:
import pandas as pd 
import numpy as np 
import requests, json
from pathlib import Path 
from os import listdir
from os.path import isfile, join

In [3]:
teamIDs_path = Path("../../data/premier_league/teamIDs.csv")
leagueIDs_path = Path("../../data/premier_league/leagueIDs.csv")

In [4]:
teamIDs_df = pd.read_csv(teamIDs_path)
leagueIDs_df = pd.read_csv(leagueIDs_path)
eplIDs_df = leagueIDs_df[leagueIDs_df.League == "Premier League"]

In [5]:
eplIDs_df.set_index("ID", drop=True, inplace=True)
eplIDs_df

      Season          League Country
ID
700     2011  Premier League      UK
699     2012  Premier League      UK
698     2013  Premier League      UK
697     2014  Premier League      UK
696     2015  Premier League      UK
56      2016  Premier League      UK
37      2017  Premier League      UK
2       2018  Premier League      UK
524     2019  Premier League      UK
2790    2020  Premier League      UK

In [6]:
teamIDs_df.set_index("ID", drop=True, inplace=True)
teamIDs_df

                   Team
ID
33    Manchester United
34            Newcastle
35          Bournemouth
36               Fulham
37         Huddersfield
38              Watford
39               Wolves
40            Liverpool
41          Southampton
42              Arsenal
43              Cardiff
44              Burnley
45              Everton
46            Leicester
47            Tottenham
48             West Ham
49              Chelsea
50      Manchester City
51             Brighton
52       Crystal Palace
53              Reading
60            West Brom
61                Wigan
62        Sheffield Utd
63                Leeds
64            Hull City
66          Aston Villa
68               Bolton
70        Middlesbrough
71              Norwich
72                  QPR
75           Stoke City
76              Swansea
746          Sunderland
1356          Blackpool

In [7]:
fixture_columns = [
    'fixture_id',
    'h_result', 
    'event_date', 
    'venue', 
    'h_team', 
    'a_team', 
    'h_halftime_score', 
    'a_haftime_score', 
    'h_fulltime_score', 
    'a_fulltime_score',
    'h_shot_on_goal',
    'a_shot_on_goal',
    'h_shot_off_goal',
    'a_shot_off_goal',
    'h_total_shots',
    'a_total_shots',
    'h_blocked_shots',
    'a_blocked_shots',
    'h_shots_inside_box',
    'a_shots_inside_box',
    'h_shots_outside_box',
    'a_shots_outside_box',
    'h_fouls',
    'a_fouls',
    'h_corner_kicks',
    'a_corner_kicks',
    'h_offsides',
    'a_offsides',
    'h_ball_possession',
    'a_ball_possession',
    'h_yellow_cards',
    'a_yellow_cards',
    'h_red_cards',
    'a_red_cards',
    'h_goalkeeper_saves',
    'a_goalkeeper_saves',
    'h_total_passes',
    'a_total_passes',
    'h_accurate_passes',
    'a_accurate_passes',
    'h_pass_percentage',
    'a_pass_percentage'
]

In [8]:
fixtures_df = pd.DataFrame(columns=fixture_columns)

In the cell below I am getting the API results for a single team and constructing the DataFrame. </br>
I was doing this for practice to implement later on to get all team data for each season.

In [9]:
url = "https://api-football-v1.p.rapidapi.com/v2/fixtures/team/47/56"
headers = {
    'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
    'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
}
res = requests.request("GET", url, headers=headers)
jres = res.json()
if jres['api']['results'] != 0:
    for x in range(jres['api']['results']):
        #just take each item you want and convert it as you need now from json to the dataframe
        tdf = {
            'fixture_id': jres['api']['fixtures'][x]['fixture_id'],
            'event_date': jres['api']['fixtures'][x]['event_date'],
            'venue': jres['api']['fixtures'][x]['venue'],
            'home_team': jres['api']['fixtures'][x]['homeTeam']['team_id'],
            'away_team': jres['api']['fixtures'][x]['awayTeam']['team_id'],
            'home_halftime_score': jres['api']['fixtures'][x]['score']['halftime'].split('-')[0],
            'away_haftime_score': jres['api']['fixtures'][x]['score']['halftime'].split('-')[1],
            'home_fulltime_score': jres['api']['fixtures'][x]['score']['fulltime'].split('-')[0],
            'away_fulltime_score': jres['api']['fixtures'][x]['score']['fulltime'].split('-')[1]
        }
        fixtures_df = fixtures_df.append(tdf, ignore_index=True)

In [10]:
fixtures_df

,fixture_id,h_result,event_date,venue,h_team,a_team,h_halftime_score,a_haftime_score,h_fulltime_score,a_fulltime_score,...,h_accurate_passes,a_accurate_passes,h_pass_percentage,a_pass_percentage,away_fulltime_score,away_haftime_score,away_team,home_fulltime_score,home_halftime_score,home_team
0,17693,NaN,2016-08-13T14:00:00+00:00,Goodison Park,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,47.0,1,1,45.0
1,17682,NaN,2016-08-20T14:00:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,52.0,1,0,47.0
2,17676,NaN,2016-08-27T11:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,40.0,1,0,47.0
3,17664,NaN,2016-09-10T14:00:00+00:00,bet365 Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,1,47.0,0,0,75.0
4,17647,NaN,2016-09-18T15:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,746.0,1,0,47.0
5,17642,NaN,2016-09-24T14:00:00+00:00,Riverside,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,2,47.0,1,0,70.0
6,17629,NaN,2016-10-02T13:15:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,50.0,2,2,47.0
7,17625,NaN,2016-10-15T14:00:00+00:00,The Hawthorns,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,47.0,1,0,60.0
8,17616,NaN,2016-10-22T11:30:00+00:00,Vitality Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,47.0,0,0,35.0
9,17603,NaN,2016-10-29T14:00:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,46.0,1,1,47.0
10,17591,NaN,2016-11-06T12:00:00+00:00,Emirates Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,47.0,1,1,42.0
11,17579,NaN,2016-11-19T17:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,1,48.0,3,0,47.0
12,17571,NaN,2016-11-26T17:30:00+00:00,Stamford Bridge,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,47.0,2,1,49.0
13,17564,NaN,2016-12-03T15:00:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,76.0,5,2,47.0
14,17548,NaN,2016-12-11T14:15:00+00:00,Old Trafford,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,47.0,1,1,33.0
15,17540,NaN,2016-12-14T20:00:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,64.0,3,1,47.0
16,17529,NaN,2016-12-18T16:00:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,44.0,2,1,47.0
17,17517,NaN,2016-12-28T19:45:00+00:00,St. Mary's Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,1,47.0,1,1,41.0
18,17508,NaN,2017-01-01T13:30:00+00:00,Vicarage Road,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4,3,47.0,1,0,38.0
19,17497,NaN,2017-01-04T20:00:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,49.0,2,1,47.0
20,17496,NaN,2017-01-14T12:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,60.0,4,2,47.0
21,17480,NaN,2017-01-21T17:30:00+00:00,Etihad Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,0,47.0,2,0,50.0
22,17475,NaN,2017-01-31T19:45:00+00:00,Stadium of Light,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,47.0,0,0,746.0
23,17459,NaN,2017-02-04T17:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,70.0,1,0,47.0
24,17450,NaN,2017-02-11T17:30:00+00:00,Anfield,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,47.0,2,2,40.0
25,17440,NaN,2017-02-26T13:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,75.0,4,4,47.0
26,17431,NaN,2017-03-05T13:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,0,45.0,3,1,47.0
27,17415,NaN,2017-03-19T14:15:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,41.0,2,2,47.0
28,17407,NaN,2017-04-01T14:00:00+00:00,Turf Moor,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,0,47.0,0,0,44.0
29,17399,NaN,2017-04-05T18:45:00+00:00,Liberty Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3,0,47.0,1,1,76.0
30,17393,NaN,2017-04-08T11:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,38.0,4,3,47.0
31,17383,NaN,2017-04-15T11:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,35.0,4,2,47.0
32,17364,NaN,2017-04-26T19:00:00+00:00,Selhurst Park,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,47.0,0,0,52.0
33,17354,NaN,2017-04-30T15:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,42.0,2,0,47.0
34,17352,NaN,2017-05-05T19:00:00+00:00,London Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,0,47.0,1,0,48.0
35,17332,NaN,2017-05-14T15:30:00+00:00,White Hart Lane,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,0,33.0,2,1,47.0
36,17327,NaN,2017-05-18T18:45:00+00:00,King Power Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,2,47.0,1,0,46.0
37,17320,NaN,2017-05-21T14:00:00+00:00,KCOM Stadium,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,3,47.0,1,0,64.0

In [11]:
def determineIfWinner(home, away):
    if home > away:
        return 2
    elif home == away:
        return 1
    else:
        return 0

In the cell below I am getting the fixture data for each team for a particular season and creating a dataframe out of it before putting it into a CSV file

In [12]:
for x in teamIDs_df.index:
    dump_path = Path(f"../../data/premier_league/team_fixtures_2020/{x}_2020.csv")
    url_addr = f"https://api-football-v1.p.rapidapi.com/v2/fixtures/team/{x}/2790"
    headers = {
        'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
        'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
    }
    raw_data = requests.request("GET", url_addr, headers=headers)
    r_json = raw_data.json()
    fixtures_df = pd.DataFrame(columns=fixture_columns)
    if r_json['api']['results'] != 0:
        for x in range(r_json['api']['results']):
        #just take each item you want and convert it as you need now from json to the dataframe
            fixture_id = r_json['api']['fixtures'][x]['fixture_id']
            h_ft_score = int(r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[0])
            a_ft_score = int(r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[1])
            url_stats = f"https://api-football-v1.p.rapidapi.com/v2/statistics/fixture/{fixture_id}"
            stat_data = requests.request("GET", url_stats, headers=headers)
            stat_json = stat_data.json()
            tdf = {
                'fixture_id': fixture_id,
                'h_result': determineIfWinner(h_ft_score, a_ft_score),
                'event_date': r_json['api']['fixtures'][x]['event_date'],
                'venue': r_json['api']['fixtures'][x]['venue'],
                'h_team': r_json['api']['fixtures'][x]['homeTeam']['team_id'],
                'a_team': r_json['api']['fixtures'][x]['awayTeam']['team_id'],
                'h_halftime_score': r_json['api']['fixtures'][x]['score']['halftime'].split('-')[0],
                'a_haftime_score': r_json['api']['fixtures'][x]['score']['halftime'].split('-')[1],
                'h_fulltime_score': r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[0],
                'a_fulltime_score': r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[1],
                'h_shot_on_goal': stat_json['api']['statistics']['Shots on Goal']['home'],
                'a_shot_on_goal': stat_json['api']['statistics']['Shots on Goal']['away'],
                'h_shot_off_goal': stat_json['api']['statistics']['Shots off Goal']['home'],
                'a_shot_off_goal': stat_json['api']['statistics']['Shots off Goal']['away'],
                'h_total_shots': stat_json['api']['statistics']['Total Shots']['home'],
                'a_total_shots': stat_json['api']['statistics']['Total Shots']['away'],
                'h_blocked_shots': stat_json['api']['statistics']['Blocked Shots']['home'],
                'a_blocked_shots': stat_json['api']['statistics']['Blocked Shots']['away'],
                'h_shots_inside_box': stat_json['api']['statistics']['Shots insidebox']['home'],
                'a_shots_inside_box': stat_json['api']['statistics']['Shots insidebox']['away'],
                'h_shots_outside_box': stat_json['api']['statistics']['Shots outsidebox']['home'],
                'a_shots_outside_box': stat_json['api']['statistics']['Shots outsidebox']['away'],
                'h_fouls': stat_json['api']['statistics']['Fouls']['home'],
                'a_fouls': stat_json['api']['statistics']['Fouls']['away'],
                'h_corner_kicks': stat_json['api']['statistics']['Corner Kicks']['home'],
                'a_corner_kicks': stat_json['api']['statistics']['Corner Kicks']['away'],
                'h_offsides': stat_json['api']['statistics']['Offsides']['home'],
                'a_offsides': stat_json['api']['statistics']['Offsides']['away'],
                'h_ball_possession': stat_json['api']['statistics']['Ball Possession']['home'],
                'a_ball_possession': stat_json['api']['statistics']['Ball Possession']['away'],
                'h_yellow_cards': stat_json['api']['statistics']['Yellow Cards']['home'],
                'a_yellow_cards': stat_json['api']['statistics']['Yellow Cards']['away'],
                'h_red_cards': stat_json['api']['statistics']['Red Cards']['home'],
                'a_red_cards': stat_json['api']['statistics']['Red Cards']['away'],
                'h_goalkeeper_saves': stat_json['api']['statistics']['Goalkeeper Saves']['home'],
                'a_goalkeeper_saves': stat_json['api']['statistics']['Goalkeeper Saves']['away'],
                'h_total_passes': stat_json['api']['statistics']['Total passes']['home'],
                'a_total_passes': stat_json['api']['statistics']['Total passes']['away'],
                'h_accurate_passes': stat_json['api']['statistics']['Passes accurate']['home'],
                'a_accurate_passes': stat_json['api']['statistics']['Passes accurate']['away'],
                'h_pass_percentage': stat_json['api']['statistics']['Passes %']['home'],
                'a_pass_percentage': stat_json['api']['statistics']['Passes %']['away']
            }
            fixtures_df = fixtures_df.append(tdf, ignore_index=True)
        fixtures_df.to_csv(dump_path)

AttributeError: 'NoneType' object has no attribute 'split'

In [95]:
fixture_path = Path("../../data/premier_league/team_fixtures_2020")
onlyfiles = [f for f in listdir(fixture_path) if isfile(join(fixture_path, f))]
onlyfiles

['1396_2020.csv',
 '1397_2020.csv',
 '2652_2020.csv',
 '2664_2020.csv',
 '2743_2020.csv',
 '2755_2020.csv',
 '2790_2020.csv',
 '2794_2020.csv',
 '2833_2020.csv',
 '2857_2020.csv',
 '2946_2020.csv',
 '3023_2020.csv',
 '3052_2020.csv']

In [10]:
url_stats = f"https://api-football-v1.p.rapidapi.com/v2/statistics/fixture/67"
headers = {
    'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
    'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
}
stat_data = requests.request("GET", url_stats, headers=headers)
stat_json = stat_data.json()

In [13]:
stat_json['api']['statistics']['Shots on Goal']['away']

'1'

# Getting fixtures for odds

In [81]:
leagues = ['2790', '2794', '2833', '2652', '2664', '2857', '2946', '2743', '2755', '1396', '1397', '3023', '3052']
# '2652',

In [90]:
columns2 = ['fixture_id', 'event_date', 'home_team', 'away_team', 'home_team_id', 'away_team_id', 'h_halftime_score', 'a_halftime_score', 'h_fulltime_score', 'a_fulltime_score']
fixtures_2020_df = pd.DataFrame(columns=columns2)

In [91]:
def leagueFixtures(league):
    url = f"https://api-football-v1.p.rapidapi.com/v2/fixtures/league/{league}"

    payload={}
    headers = {
    'x-rapidapi-key': '3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba'
    }

    response = requests.request("GET", url, headers=headers, data=payload)
    raw_json = response.json()
    return raw_json['api']['fixtures']

In [92]:
def buildFixtureDF(league, raw_data, fixtures_df):
    dump_path = Path(f"../../data/premier_league/team_fixtures_2020/{league}_2020.csv")
    for x in raw_data:
        if x['score']['fulltime'] and x['score']['halftime'] != None:
            fdf = {
                'fixture_id': x['fixture_id'],
                'event_date': x['event_date'],
                'home_team': x['homeTeam']['team_name'],
                'away_team': x['awayTeam']['team_name'],
                'home_team_id': x['homeTeam']['team_id'],
                'away_team_id': x['awayTeam']['team_id'],
                'h_halftime_score': x['score']['halftime'].split('-')[0],
                'a_halftime_score': x['score']['halftime'].split('-')[1],
                'h_fulltime_score': x['score']['fulltime'].split('-')[0],
                'a_fulltime_score': x['score']['fulltime'].split('-')[1]
            }
            fixtures_df = fixtures_df.append(fdf, ignore_index=True)
        else:
            fdf = {
                'fixture_id': x['fixture_id'],
                'event_date': x['event_date'],
                'home_team': x['homeTeam']['team_name'],
                'away_team': x['awayTeam']['team_name'],
                'home_team_id': x['homeTeam']['team_id'],
                'away_team_id': x['awayTeam']['team_id'],
            }
            fixtures_df = fixtures_df.append(fdf, ignore_index=True)
    fixtures_df.set_index('fixture_id', drop=True, inplace=True)
    fixtures_df.to_csv(dump_path)

In [93]:
for x in leagues:
    fixtures_2020_df = pd.DataFrame(columns=columns2)
    buildFixtureDF(x, leagueFixtures(x), fixtures_2020_df)

In [85]:
uk1_odds_fixtures = ['592316','592318','592141','592320','592299','592312','592311','592330','592324','592329','592323','592325','592322','592328','592326','592327','592321','592317','592315','592314','592313','592145','592319'] # 2790
uk2_odds_fixtures = ['593146','593119','593144','593162','593155','593157','593158','593159','593160','593161','593163','593164','593165','593166','593156','593168','593171','593167','593170','593169','606504','593176','593173','593174','593175','593177','593172'] # 2794
es1_odds_fixtures = ['605233','605084','605236','605242','605235','605238','605241','605240','605237','605243','605244','605239','605099','605074','605250','605253','605245','605249','605247','605254','605252','605248'] # 2833
fr1_odds_fixtures = ['568253','568254','568255','568256','568257','568258','568259','568260','568261','568262','568264','568265','568266','568267','568268','568269','568270','568271','568263','568272','568279','568280','568273','568274','568275','568276','568277','568278','568281','568282'] # 2652
fr2_odds_fixtures = ['571643','571645','571647','571650','571651','571642','571644','571646','571648','571649','571652','571653','571654','571655','571656','571657','571658','571659','571660','571661','571670','571667','571665','571664','571662','571668','571669','571671','571663','571666','571552'] # 2664
it1_odds_fixtures = ['608687','608685','608686','608688','608689','608692','608693','608694','608691','608690','608695','608697','608699','608701','608700','608703','608704','608696','608698','608702','608710','608706','608714','608712','608711','608708','608713','608705','608709','608707','608633'] # 2857
it2_odds_fixtures = ['628142','628148','628145','628140','628143','628144','628146','628147','628149','628141','628026','628150','628153','628151','628154','628156','628157','628158','628155','628152','628159','628054'] # 2946
de1_odds_fixtures = ['585180','585170','585191','585195','585193','585194','585196','585189','585190','585192','585197','585203','585206','585200','585201','585202','585198','585204','585205','585199'] # 2743
de2_odds_fixtures = ['587303','587304','587305','587306','587307','587308','587302','587309','587310','587316','587312','587313','587314','587317','587318','587319','587311','587315','587321','587322','587324','587326','587325','587320','587323','587327','587328'] # 2755
br1_odds_fixtures = ['328261','328262','328263','328264','328255','328257','328260','328256','328267','328272','328270','328268','328273','328271','328274','328266','328269','328265','328280','328281','328282','328276','328277','328284','328278','328283','328259','328275','328294','328292','328289','328285','328286','328290','328287','328288','328293'] # 1396
br2_odds_fixtures = ['328680','328683','328688','328694','328691','328687','328690','328692','328686','328693','328685','328689','328698','328697','328703','328699','328700','328701','328702','328704','328696','328695','328710','328714','328706','328713','328705','328707','328711','328709','328708','328712','328721','328716','328717','328719','328723','328720','328718','328722','328715','328724'] # 1397
ar1_odds_fixtures = ['654113','654109','654083','654084','654080','654114','654082','654115','654116','654118','654120','654085','654087','654086','654088','654089','654090','654119','654117','656995'] # 3023 not a good testing set but okay for training - only last game hasn't happened
ar2_odds_fixtures = ['647845','647847','647906','647846','647827','647852','647853','647854','647855','647908','647909','647910','647911','647856','647857','647858','647859','647912','647913','647914','647915','656831'] # 3052 not a good testing set but okay for training - only last game hasn't happened

In [86]:
def getOdds(fixture):
    url = f"https://api-football-v1.p.rapidapi.com/v2/odds/fixture/{fixture}"

    payload={}
    headers = {
    'x-rapidapi-key': '3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba'
    }

    response = requests.request("GET", url, headers=headers, data=payload)
    odds_raw = response.json()
    return odds_raw['api']['odds']

In [ ]:
def buildOddsDF(odds_data):
    for x in odds_data[0]['bookmakers'][0]['bets']:
        if x['label_name'] == 'Match Winner':

In [88]:
all_odds = odds_raw['api']['odds']
for x in all_odds[0]['bookmakers'][0]['bets']:
    if x['label_name'] == 'Match Winner':
        for y in x['values']:
            print(y)

{'value': 'Home', 'odd': '2.50'}
{'value': 'Draw', 'odd': '3.15'}
{'value': 'Away', 'odd': '3.25'}