In [19]:
import pandas as pd 
import numpy as np 
import requests, json
from pathlib import Path 
from os import listdir
from os.path import isfile, join

In [20]:
teamIDs_path = Path("../../data/premier_league/teamIDs.csv")
leagueIDs_path = Path("../../data/premier_league/leagueIDs.csv")

In [21]:
teamIDs_df = pd.read_csv(teamIDs_path)
leagueIDs_df = pd.read_csv(leagueIDs_path)
eplIDs_df = leagueIDs_df[leagueIDs_df.League == "Premier League"]

In [22]:
eplIDs_df.set_index("ID", drop=True, inplace=True)
eplIDs_df

      Season          League
ID
700     2011  Premier League
699     2012  Premier League
698     2013  Premier League
697     2014  Premier League
696     2015  Premier League
56      2016  Premier League
37      2017  Premier League
2       2018  Premier League
524     2019  Premier League
2790    2020  Premier League

In [23]:
teamIDs_df.set_index("ID", drop=True, inplace=True)
teamIDs_df

                   Team
ID
33    Manchester United
34            Newcastle
35          Bournemouth
36               Fulham
37         Huddersfield
38              Watford
39               Wolves
40            Liverpool
41          Southampton
42              Arsenal
43              Cardiff
44              Burnley
45              Everton
46            Leicester
47            Tottenham
48             West Ham
49              Chelsea
50      Manchester City
51             Brighton
52       Crystal Palace
53              Reading
60            West Brom
61                Wigan
62        Sheffield Utd
63                Leeds
64            Hull City
66          Aston Villa
68               Bolton
70        Middlesbrough
71              Norwich
72                  QPR
75           Stoke City
76              Swansea
746          Sunderland
1356          Blackpool

In [24]:
fixture_columns = [
    'fixture_id',
    'h_result', 
    'event_date', 
    'venue', 
    'h_team', 
    'a_team', 
    'h_halftime_score', 
    'a_haftime_score', 
    'h_fulltime_score', 
    'a_fulltime_score',
    'h_shot_on_goal',
    'a_shot_on_goal',
    'h_shot_off_goal',
    'a_shot_off_goal',
    'h_total_shots',
    'a_total_shots',
    'h_blocked_shots',
    'a_blocked_shots',
    'h_shots_inside_box',
    'a_shots_inside_box',
    'h_shots_outside_box',
    'a_shots_outside_box',
    'h_fouls',
    'a_fouls',
    'h_corner_kicks',
    'a_corner_kicks',
    'h_offsides',
    'a_offsides',
    'h_ball_possession',
    'a_ball_possession',
    'h_yellow_cards',
    'a_yellow_cards',
    'h_red_cards',
    'a_red_cards',
    'h_goalkeeper_saves',
    'a_goalkeeper_saves',
    'h_total_passes',
    'a_total_passes',
    'h_accurate_passes',
    'a_accurate_passes',
    'h_pass_percentage',
    'a_pass_percentage'
]

In [25]:
fixtures_df = pd.DataFrame(columns=fixture_columns)

In the cell below I am getting the API results for a single team and constructing the DataFrame. </br>
I was doing this for practice to implement later on to get all team data for each season.

In [35]:
url = "https://api-football-v1.p.rapidapi.com/v2/fixtures/team/47/56"
headers = {
    'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
    'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
}
res = requests.request("GET", url, headers=headers)
jres = res.json()
if jres['api']['results'] != 0:
    for x in range(jres['api']['results']):
        #just take each item you want and convert it as you need now from json to the dataframe
        tdf = {
            'fixture_id': jres['api']['fixtures'][x]['fixture_id'],
            'event_date': jres['api']['fixtures'][x]['event_date'],
            'venue': jres['api']['fixtures'][x]['venue'],
            'home_team': jres['api']['fixtures'][x]['homeTeam']['team_id'],
            'away_team': jres['api']['fixtures'][x]['awayTeam']['team_id'],
            'home_halftime_score': jres['api']['fixtures'][x]['score']['halftime'].split('-')[0],
            'away_haftime_score': jres['api']['fixtures'][x]['score']['halftime'].split('-')[1],
            'home_fulltime_score': jres['api']['fixtures'][x]['score']['fulltime'].split('-')[0],
            'away_fulltime_score': jres['api']['fixtures'][x]['score']['fulltime'].split('-')[1]
        }
        fixtures_df = fixtures_df.append(tdf, ignore_index=True)

In [36]:
fixtures_df

,fixture_id,event_date,venue,home_team,away_team,home_halftime_score,away_haftime_score,home_fulltime_score,away_fulltime_score
0,17693,2016-08-13T14:00:00+00:00,Goodison Park,45,47,1,0,1,1
1,17682,2016-08-20T14:00:00+00:00,White Hart Lane,47,52,0,0,1,0
2,17676,2016-08-27T11:30:00+00:00,White Hart Lane,47,40,0,1,1,1
3,17664,2016-09-10T14:00:00+00:00,bet365 Stadium,75,47,0,1,0,4
4,17647,2016-09-18T15:30:00+00:00,White Hart Lane,47,746,0,0,1,0
5,17642,2016-09-24T14:00:00+00:00,Riverside,70,47,0,2,1,2
6,17629,2016-10-02T13:15:00+00:00,White Hart Lane,47,50,2,0,2,0
7,17625,2016-10-15T14:00:00+00:00,The Hawthorns,60,47,0,0,1,1
8,17616,2016-10-22T11:30:00+00:00,Vitality Stadium,35,47,0,0,0,0
9,17603,2016-10-29T14:00:00+00:00,White Hart Lane,47,46,1,0,1,1
10,17591,2016-11-06T12:00:00+00:00,Emirates Stadium,42,47,1,0,1,1
11,17579,2016-11-19T17:30:00+00:00,White Hart Lane,47,48,0,1,3,2
12,17571,2016-11-26T17:30:00+00:00,Stamford Bridge,49,47,1,1,2,1
13,17564,2016-12-03T15:00:00+00:00,White Hart Lane,47,76,2,0,5,0
14,17548,2016-12-11T14:15:00+00:00,Old Trafford,33,47,1,0,1,0
15,17540,2016-12-14T20:00:00+00:00,White Hart Lane,47,64,1,0,3,0
16,17529,2016-12-18T16:00:00+00:00,White Hart Lane,47,44,1,1,2,1
17,17517,2016-12-28T19:45:00+00:00,St. Mary's Stadium,41,47,1,1,1,4
18,17508,2017-01-01T13:30:00+00:00,Vicarage Road,38,47,0,3,1,4
19,17497,2017-01-04T20:00:00+00:00,White Hart Lane,47,49,1,0,2,0
20,17496,2017-01-14T12:30:00+00:00,White Hart Lane,47,60,2,0,4,0
21,17480,2017-01-21T17:30:00+00:00,Etihad Stadium,50,47,0,0,2,2
22,17475,2017-01-31T19:45:00+00:00,Stadium of Light,746,47,0,0,0,0
23,17459,2017-02-04T17:30:00+00:00,White Hart Lane,47,70,0,0,1,0
24,17450,2017-02-11T17:30:00+00:00,Anfield,40,47,2,0,2,0
25,17440,2017-02-26T13:30:00+00:00,White Hart Lane,47,75,4,0,4,0
26,17431,2017-03-05T13:30:00+00:00,White Hart Lane,47,45,1,0,3,2
27,17415,2017-03-19T14:15:00+00:00,White Hart Lane,47,41,2,0,2,1
28,17407,2017-04-01T14:00:00+00:00,Turf Moor,44,47,0,0,0,2
29,17399,2017-04-05T18:45:00+00:00,Liberty Stadium,76,47,1,0,1,3
30,17393,2017-04-08T11:30:00+00:00,White Hart Lane,47,38,3,0,4,0
31,17383,2017-04-15T11:30:00+00:00,White Hart Lane,47,35,2,0,4,0
32,17364,2017-04-26T19:00:00+00:00,Selhurst Park,52,47,0,0,0,1
33,17354,2017-04-30T15:30:00+00:00,White Hart Lane,47,42,0,0,2,0
34,17352,2017-05-05T19:00:00+00:00,London Stadium,48,47,0,0,1,0
35,17332,2017-05-14T15:30:00+00:00,White Hart Lane,47,33,1,0,2,1
36,17327,2017-05-18T18:45:00+00:00,King Power Stadium,46,47,0,2,1,6
37,17320,2017-05-21T14:00:00+00:00,KCOM Stadium,64,47,0,3,1,7

In [26]:
def determineIfWinner(home, away):
    if home > away:
        return 2
    elif home == away:
        return 1
    else:
        return 0

In the cell below I am getting the fixture data for each team for a particular season and creating a dataframe out of it before putting it into a CSV file

In [28]:
for x in teamIDs_df.index:
    dump_path = Path(f"../../data/premier_league/team_fixtures_2018/{x}_2018.csv")
    url_addr = f"https://api-football-v1.p.rapidapi.com/v2/fixtures/team/{x}/2"
    headers = {
        'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
        'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
    }
    raw_data = requests.request("GET", url_addr, headers=headers)
    r_json = raw_data.json()
    fixtures_df = pd.DataFrame(columns=fixture_columns)
    if r_json['api']['results'] != 0:
        for x in range(r_json['api']['results']):
        #just take each item you want and convert it as you need now from json to the dataframe
            fixture_id = r_json['api']['fixtures'][x]['fixture_id']
            h_ft_score = int(r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[0])
            a_ft_score = int(r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[1])
            url_stats = f"https://api-football-v1.p.rapidapi.com/v2/statistics/fixture/{fixture_id}"
            stat_data = requests.request("GET", url_stats, headers=headers)
            stat_json = stat_data.json()
            tdf = {
                'fixture_id': fixture_id,
                'h_result': determineIfWinner(h_ft_score, a_ft_score),
                'event_date': r_json['api']['fixtures'][x]['event_date'],
                'venue': r_json['api']['fixtures'][x]['venue'],
                'h_team': r_json['api']['fixtures'][x]['homeTeam']['team_id'],
                'a_team': r_json['api']['fixtures'][x]['awayTeam']['team_id'],
                'h_halftime_score': r_json['api']['fixtures'][x]['score']['halftime'].split('-')[0],
                'a_haftime_score': r_json['api']['fixtures'][x]['score']['halftime'].split('-')[1],
                'h_fulltime_score': r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[0],
                'a_fulltime_score': r_json['api']['fixtures'][x]['score']['fulltime'].split('-')[1],
                'h_shot_on_goal': stat_json['api']['statistics']['Shots on Goal']['home'],
                'a_shot_on_goal': stat_json['api']['statistics']['Shots on Goal']['away'],
                'h_shot_off_goal': stat_json['api']['statistics']['Shots off Goal']['home'],
                'a_shot_off_goal': stat_json['api']['statistics']['Shots off Goal']['away'],
                'h_total_shots': stat_json['api']['statistics']['Total Shots']['home'],
                'a_total_shots': stat_json['api']['statistics']['Total Shots']['away'],
                'h_blocked_shots': stat_json['api']['statistics']['Blocked Shots']['home'],
                'a_blocked_shots': stat_json['api']['statistics']['Blocked Shots']['away'],
                'h_shots_inside_box': stat_json['api']['statistics']['Shots insidebox']['home'],
                'a_shots_inside_box': stat_json['api']['statistics']['Shots insidebox']['away'],
                'h_shots_outside_box': stat_json['api']['statistics']['Shots outsidebox']['home'],
                'a_shots_outside_box': stat_json['api']['statistics']['Shots outsidebox']['away'],
                'h_fouls': stat_json['api']['statistics']['Fouls']['home'],
                'a_fouls': stat_json['api']['statistics']['Fouls']['away'],
                'h_corner_kicks': stat_json['api']['statistics']['Corner Kicks']['home'],
                'a_corner_kicks': stat_json['api']['statistics']['Corner Kicks']['away'],
                'h_offsides': stat_json['api']['statistics']['Offsides']['home'],
                'a_offsides': stat_json['api']['statistics']['Offsides']['away'],
                'h_ball_possession': stat_json['api']['statistics']['Ball Possession']['home'],
                'a_ball_possession': stat_json['api']['statistics']['Ball Possession']['away'],
                'h_yellow_cards': stat_json['api']['statistics']['Yellow Cards']['home'],
                'a_yellow_cards': stat_json['api']['statistics']['Yellow Cards']['away'],
                'h_red_cards': stat_json['api']['statistics']['Red Cards']['home'],
                'a_red_cards': stat_json['api']['statistics']['Red Cards']['away'],
                'h_goalkeeper_saves': stat_json['api']['statistics']['Goalkeeper Saves']['home'],
                'a_goalkeeper_saves': stat_json['api']['statistics']['Goalkeeper Saves']['away'],
                'h_total_passes': stat_json['api']['statistics']['Total passes']['home'],
                'a_total_passes': stat_json['api']['statistics']['Total passes']['away'],
                'h_accurate_passes': stat_json['api']['statistics']['Passes accurate']['home'],
                'a_accurate_passes': stat_json['api']['statistics']['Passes accurate']['away'],
                'h_pass_percentage': stat_json['api']['statistics']['Passes %']['home'],
                'a_pass_percentage': stat_json['api']['statistics']['Passes %']['away']
            }
            fixtures_df = fixtures_df.append(tdf, ignore_index=True)
        fixtures_df.to_csv(dump_path)

In [60]:
fixture_path = Path("../../data/premier_league/team_fixtures_2016")
onlyfiles = [f for f in listdir(fixture_path) if isfile(join(fixture_path, f))]
onlyfiles

['33_2016.csv',
 '35_2016.csv',
 '38_2016.csv',
 '40_2016.csv',
 '41_2016.csv',
 '42_2016.csv',
 '44_2016.csv',
 '45_2016.csv',
 '46_2016.csv',
 '47_2016.csv',
 '48_2016.csv',
 '49_2016.csv',
 '50_2016.csv',
 '52_2016.csv',
 '60_2016.csv',
 '64_2016.csv',
 '70_2016.csv',
 '746_2016.csv',
 '75_2016.csv',
 '76_2016.csv']

In [10]:
url_stats = f"https://api-football-v1.p.rapidapi.com/v2/statistics/fixture/67"
headers = {
    'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
    'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
}
stat_data = requests.request("GET", url_stats, headers=headers)
stat_json = stat_data.json()

In [13]:
stat_json['api']['statistics']['Shots on Goal']['away']

'1'