In [16]:
import pandas as pd 
import numpy as np 
import requests, json
from pathlib import Path 
from os import listdir
from os.path import isfile, join

In [2]:
teamIDs_path = Path("../../data/premier_league/teamIDs.csv")
leagueIDs_path = Path("../../data/premier_league/leagueIDs.csv")

In [3]:
teamIDs_df = pd.read_csv(teamIDs_path)
leagueIDs_df = pd.read_csv(leagueIDs_path)
eplIDs_df = leagueIDs_df[leagueIDs_df.League == "Premier League"]

In [4]:
eplIDs_df.set_index("ID", drop=True, inplace=True)
eplIDs_df

      Season          League
ID
700     2011  Premier League
699     2012  Premier League
698     2013  Premier League
697     2014  Premier League
696     2015  Premier League
56      2016  Premier League
37      2017  Premier League
2       2018  Premier League
524     2019  Premier League
2790    2020  Premier League

In [5]:
teamIDs_df.set_index("ID", drop=True, inplace=True)
teamIDs_df

                   Team
ID
33    Manchester United
34            Newcastle
35          Bournemouth
36               Fulham
37         Huddersfield
38              Watford
39               Wolves
40            Liverpool
41          Southampton
42              Arsenal
43              Cardiff
44              Burnley
45              Everton
46            Leicester
47            Tottenham
48             West Ham
49              Chelsea
50      Manchester City
51             Brighton
52       Crystal Palace
53              Reading
60            West Brom
61                Wigan
62        Sheffield Utd
63                Leeds
64            Hull City
66          Aston Villa
68               Bolton
70        Middlesbrough
71              Norwich
72                  QPR
75           Stoke City
76              Swansea
746          Sunderland
1356          Blackpool

In [13]:
for x in teamIDs_df.index:
    dump_path = Path(f"../../data/premier_league/team_fixtures_2016/{x}_2016.csv")
    url_addr = f"https://api-football-v1.p.rapidapi.com/v2/fixtures/team/{x}/56"
    headers = {
        'x-rapidapi-key': "3e890f9c4fmshbac87f967184a81p162525jsn1b11c02653ba",
        'x-rapidapi-host': "api-football-v1.p.rapidapi.com"
    }
    raw_data = requests.request("GET", url_addr, headers=headers)
    r_json = raw_data.json()
    if r_json['api']['results'] != 0:
        game_df = pd.DataFrame(r_json['api']['fixtures'])
        game_df.to_csv(dump_path)

In [71]:
thfc_2016_fixtures_path = Path("../../data/premier_league/team_fixtures_2016/47_2016.csv")
thfc_fixtures_df = pd.read_csv(thfc_2016_fixtures_path)
ht_scores = []
ft_scores = []
for x in thfc_fixtures_df.index:
    thfc_fixtures_df.league[x] = json.loads(thfc_fixtures_df.league[x].replace("\'", "\""))['name']
    thfc_fixtures_df.homeTeam[x] = json.loads(thfc_fixtures_df.homeTeam[x].replace("\'", "\""))['team_id']
    thfc_fixtures_df.awayTeam[x] = json.loads(thfc_fixtures_df.awayTeam[x].replace("\'", "\""))['team_id']

In [138]:
vl = thfc_fixtures_df.score[1].replace("\'", "\"").strip('{,}').split(',')
vl

['"halftime": "0-0"',
 ' "fulltime": "1-0"',
 ' "extratime": None',
 ' "penalty": None']

In [20]:
fixture_path = Path("../../data/premier_league/team_fixtures_2016")
onlyfiles = [f for f in listdir(fixture_path) if isfile(join(fixture_path, f))]
onlyfiles

['33_2016.csv',
 '35_2016.csv',
 '38_2016.csv',
 '40_2016.csv',
 '41_2016.csv',
 '42_2016.csv',
 '44_2016.csv',
 '45_2016.csv',
 '46_2016.csv',
 '47_2016.csv',
 '48_2016.csv',
 '49_2016.csv',
 '50_2016.csv',
 '52_2016.csv',
 '60_2016.csv',
 '64_2016.csv',
 '70_2016.csv',
 '746_2016.csv',
 '75_2016.csv',
 '76_2016.csv']