In [1]:
import pandas as pd 
import numpy as np 
import os
from datetime import datetime
from pathlib import Path

In [9]:
#load csv and create dataframe

team_df = pd.read_csv("../../data/sports_io/TeamGame.2020.csv", usecols=['Team','Day','Wins','HomeOrAway'])
pp_df = pd.read_csv("../../data/sports_io/PlayerGameProjection.2020.csv", usecols=['Team','Opponent','Day','HomeOrAway','Games'])

In [10]:
print(team_df)

     Team  Wins                     Day HomeOrAway
0     HOU     1   10/3/2019 12:00:00 AM       AWAY
1     LAC     0   10/3/2019 12:00:00 AM       HOME
2     IND     1   10/4/2019 12:00:00 AM       AWAY
3     SAC     0   10/4/2019 12:00:00 AM       HOME
4     IND     1   10/5/2019 12:00:00 AM       HOME
...   ...   ...                     ...        ...
2451  LAL     1   10/6/2020 12:00:00 AM       AWAY
2452  MIA     1   10/9/2020 12:00:00 AM       AWAY
2453  LAL     0   10/9/2020 12:00:00 AM       HOME
2454  MIA     0  10/11/2020 12:00:00 AM       HOME
2455  LAL     1  10/11/2020 12:00:00 AM       AWAY

[2456 rows x 4 columns]

In [16]:
df2 = pp_df.sort_values('Day').drop_duplicates(subset=['Team'])

df2

      Team Opponent                    Day HomeOrAway  Games
20081  ORL      WAS   1/1/2020 12:00:00 AM       AWAY      1
20181  MIN      MIL   1/1/2020 12:00:00 AM       AWAY      1
20165  MIL      MIN   1/1/2020 12:00:00 AM       HOME      0
20183  LAL      PHO   1/1/2020 12:00:00 AM       HOME      1
20215  PHO      LAL   1/1/2020 12:00:00 AM       AWAY      0
20148  POR       NY   1/1/2020 12:00:00 AM       AWAY      1
20112  WAS      ORL   1/1/2020 12:00:00 AM       HOME      0
20116   NY      POR   1/1/2020 12:00:00 AM       HOME      1
22438  CHA      UTA  1/10/2020 12:00:00 AM       AWAY      1
22370  DAL      LAL  1/10/2020 12:00:00 AM       HOME      1
22512  LAC       GS  1/10/2020 12:00:00 AM       HOME      1
22446  UTA      CHA  1/10/2020 12:00:00 AM       HOME      0
22506   GS      LAC  1/10/2020 12:00:00 AM       AWAY      1
22495  SAC      MIL  1/10/2020 12:00:00 AM       HOME      1
22361   SA      MEM  1/10/2020 12:00:00 AM       AWAY      1
22252  MIA      BKN  1/10/2020 12:00:00 AM       AWAY      1
22243  BKN      MIA  1/10/2020 12:00:00 AM       HOME      1
22273  CHI      IND  1/10/2020 12:00:00 AM       HOME      1
22209  ATL      WAS  1/10/2020 12:00:00 AM       AWAY      1
22277  IND      CHI  1/10/2020 12:00:00 AM       AWAY      1
22336  MEM       SA  1/10/2020 12:00:00 AM       HOME      1
22294   NO       NY  1/10/2020 12:00:00 AM       AWAY      0
22679  PHI      DAL  1/11/2020 12:00:00 AM       AWAY      1
22697  CLE      DEN  1/11/2020 12:00:00 AM       AWAY      1
22657  OKC      LAL  1/11/2020 12:00:00 AM       HOME      1
22713  DEN      CLE  1/11/2020 12:00:00 AM       HOME      1
22561  BOS       NO  1/11/2020 12:00:00 AM       HOME      1
22529  HOU      MIN  1/11/2020 12:00:00 AM       HOME      1
22618  DET      CHI  1/11/2020 12:00:00 AM       HOME      0
22881  TOR       SA  1/12/2020 12:00:00 AM       HOME      1
30690  LEB      GIA  2/16/2020 12:00:00 AM       AWAY      1
30676  GIA      LEB  2/16/2020 12:00:00 AM       HOME      1

In [13]:
# drop duplicates based on Day columns
#pp_df2 = pp_df.drop_duplicates(subset=['Day'])