In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

import os
import glob
os.chdir("c://Users/howar/Documents/BootcampProjects/the_degenerates/data/premier_league/team_fixtures_2017")

# Needed for decision tree visualization
import pydotplus
from IPython.display import Image

In [2]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [3]:

#combine all files in the list
combined_2017 = pd.concat([pd.read_csv(f) for f in all_filenames])
#export to csv
combined_2017.to_csv("combined_2017.csv", index=False)

In [4]:
# read combine csv to dataframe
df_2017 = pd.read_csv('combined_2017.csv')

In [5]:
df_2017.head()

,Unnamed: 0,fixture_id,h_result,event_date,venue,h_team,a_team,h_halftime_score,a_haftime_score,h_fulltime_score,...,h_red_cards,a_red_cards,h_goalkeeper_saves,a_goalkeeper_saves,h_total_passes,a_total_passes,h_accurate_passes,a_accurate_passes,h_pass_percentage,a_pass_percentage
0,0,11902,2,2017-08-13T15:00:00+00:00,Old Trafford,33,48,1,0,4,...,NaN,NaN,1.0,1.0,493,397,417,316,85%,80%
1,1,11901,0,2017-08-19T11:30:00+00:00,Liberty Stadium,76,33,0,1,0,...,NaN,NaN,4.0,0.0,406,601,315,523,78%,87%
2,2,11886,2,2017-08-26T16:30:00+00:00,Old Trafford,33,46,0,0,2,...,NaN,NaN,4.0,5.0,662,300,576,208,87%,69%
3,3,11875,1,2017-09-09T16:30:00+00:00,bet365 Stadium,75,33,1,1,2,...,NaN,NaN,7.0,3.0,332,564,252,490,76%,87%
4,4,11862,2,2017-09-17T15:00:00+00:00,Old Trafford,33,45,1,0,4,...,NaN,NaN,3.0,3.0,476,510,403,415,85%,81%

In [10]:
# convert nan to 0 values
df_2017=df_2017.fillna(0)
df_2017.isnull().sum()

Unnamed: 0             0
fixture_id             0
h_result               0
event_date             0
venue                  0
h_team                 0
a_team                 0
h_halftime_score       0
a_haftime_score        0
h_fulltime_score       0
a_fulltime_score       0
h_shot_on_goal         0
a_shot_on_goal         0
h_shot_off_goal        0
a_shot_off_goal        0
h_total_shots          0
a_total_shots          0
h_blocked_shots        0
a_blocked_shots        0
h_shots_inside_box     0
a_shots_inside_box     0
h_shots_outside_box    0
a_shots_outside_box    0
h_fouls                0
a_fouls                0
h_corner_kicks         0
a_corner_kicks         0
h_offsides             0
a_offsides             0
h_ball_possession      0
a_ball_possession      0
h_yellow_cards         0
a_yellow_cards         0
h_red_cards            0
a_red_cards            0
h_goalkeeper_saves     0
a_goalkeeper_saves     0
h_total_passes         0
a_total_passes         0
h_accurate_passes      0
a_accurate_passes      0
h_pass_percentage      0
a_pass_percentage      0
dtype: int64

In [11]:
#define feature sets
X = df_2017.copy()
X.drop(columns=["venue","event_date","fixture_id"], inplace=True)
X.head()

,Unnamed: 0,h_result,h_team,a_team,h_halftime_score,a_haftime_score,h_fulltime_score,a_fulltime_score,h_shot_on_goal,a_shot_on_goal,...,h_red_cards,a_red_cards,h_goalkeeper_saves,a_goalkeeper_saves,h_total_passes,a_total_passes,h_accurate_passes,a_accurate_passes,h_pass_percentage,a_pass_percentage
0,0,2,33,48,1,0,4,0,5,1,...,0.0,0.0,1.0,1.0,493,397,417,316,85%,80%
1,1,0,76,33,0,1,0,4,0,8,...,0.0,0.0,4.0,0.0,406,601,315,523,78%,87%
2,2,2,33,46,0,0,2,0,7,4,...,0.0,0.0,4.0,5.0,662,300,576,208,87%,69%
3,3,1,75,33,1,1,2,2,5,8,...,0.0,0.0,7.0,3.0,332,564,252,490,76%,87%
4,4,2,33,45,1,0,4,0,7,3,...,0.0,0.0,3.0,3.0,476,510,403,415,85%,81%

In [22]:
y= 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=5)

NameError: name 'y' is not defined